.main-howTo-mainContianer {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.howTo-main-container {
  width: 55%;
  display: flex;
  flex-direction: column;

  justify-self: end;
}
.howTo-header {
  font-family: "Anton";
  font-size: 1.8rem;
  color: blue;
  margin-bottom: 5px;
  margin-top: 20px;
}

.author-howTo {
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
.course-container {
  margin-top: 40px;
}

.para-explian {
  font-size: 1.2rem;
}

.author-howTo {
  font-family: "Anton";
}

.related-bar-howTo {
  width: 20%;
}

@media screen and (max-width: 566px) {
  .howTo-main-container {
    width: 95%;
  }

  .main-howTo-mainContianer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .related-bar-howTo {
    width: 85%;
  }
}
